body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: .88rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f1f3f5;
  text-align: left;
  background-color: #080808;
  background: url("../img/game.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

.mt-100 {
  margin-top: 80px
}

/* NOTE This is our page load style Template */
.card {
  box-shadow: black;
  border-width: 0;
  transition: all .2s;
  background-color: black;
  border-style: solid;
  border-color: rgb(247, 248, 245);
  color: #04fd04;
}

.card-header {
  display: flex;
  align-items: center;
  border-bottom-width: 1px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: .625rem;
  height: 3.5rem;
  background-color: rgb(20, 20, 20);
  border-bottom: 1px solid rgba(26, 54, 126, 0.125);
}

.btn {
  color: rgb(2, 2, 2);
  background-color: #0cfd04;
  border-color: #070707;
  border-style: solid;
  border-color: black;
  box-shadow: rgb(12, 12, 12); 
  margin-top: 20px
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: hsl(0, 0%, 6%);
  background-color: rgb(95, 91, 91, 0.5);
  background-clip: padding-box;
  border: 1px solid #f0f1f0;
  border-radius: .25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

a {
  color: #2ef706;
  text-decoration: none;
  background-color: transparent
}

.posts{
/*   border-style: solid; */
  background: rgba(0,0,0,0.6);
  color: #04f82d ;
  margin: 15vh auto;
}

/* .post-header{

}

.post-title{
  
}

.post-vote{

} */

.post-row{
  align-items: center;
  border-bottom: 1px solid #04f82d;
  border-left: 1px solid #04f82d;
  border-right: 1px solid #04f82d;
  border-top: 1px solid #04f82d;
  margin: 0 auto;
}

.post-img img{
margin: 0 auto;
}


/* NOTE  This is our Post Template styles */

